<meta http-equiv="Content-Type" Content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="stylesheet" href="./reset.css" />	
<meta name=”description” content=” a completer ” />
<meta name=”keywords” content=” a completer” />
<link rel="stylesheet" href="./BOOTSTRAP-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./BOOTSTRAP-3.3.7/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="BOOTSTRAP-3.3.7/css/bootstrap-social.css"/>
<link href="BOOTSTRAP-3.3.7/css/font-awesome.css" rel="stylesheet">