html,body
{
	width:100%;
	height:100%;
}
header img
{
	height:90px;
	display:block;
	margin:auto;
}
header
{
	width:100%;
	height:100px;
	background-color:rgb(255,1,51);
	background: -webkit-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -o-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -moz-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1));
    background: linear-gradient(130deg,rgba(255,1,51,1), rgba(255 , 172 , 42,1));
    box-shadow:0 5px 10px lightgrey;
}
h2
{
	text-align:center; 
}
h3
{
	display:inline-block;
	width:40%;
}

cellphone
{
	display:block;
	text-align:center;
}
#select_month
{
	text-align:center;
}
#select_month button.month
{
	color:rgb(255,1,51);
	border:1px solid rgb(255,1,51);
	border-right:none;
	background:none;
	height: 28px;
	vertical-align: middle;
	margin-top:5px;
	outline: none;
}
#select_month button.month:last-child
{
	border-right:1px solid rgb(255,1,51);
	border-radius:0 10px 10px 0;
}
#select_month button.month:first-child
{
	border-radius:10px 0 0 10px;
}
#select_month button.month.selected
{
	color:white;
	background-color:rgb(255,1,51);
}
#user-info
{
	background-color:#EDEDED;
	height:calc(100% - 100px);
	border-right:1px solid rgb(255,1,51);
	box-shadow:5px 0 10px lightgrey;
}
input.user-info
{
	border:none;
	outline: none;
	background:none;
	transition:0.2s;
}

div.input
{
	width:50%;
	display:inline-block;
}
div.input input.user-info
{
	width:100%;
}
div.input div.focus
{
	height:2px;
	width:0;
	background-color:rgb(255,1,51);
	transition:0.4s;
}
div.input input.user-info:focus + div.focus
{
	width:100%;
}