/*
 Insertion polices
*/
@font-face{
    font-family: ageta_chubby;
    src: url(./STYLE/FONTS/Ageta_Chubby.otf);
}
@font-face{
    font-family: caviar_dreams;
    src: url(./STYLE/FONTS/CaviarDreams.ttf);
}


html,body
{
	width:100%;
	height:100%;
	overflow:auto;
}
#social_network
{
	width: 100%;
	text-align: center;
	margin-top:1px;
}
#title
{
	text-align:center;
}
#form-connexion
{
	width:calc(100% - 10px);
	padding-top:5%;
	padding-bottom:5%;
	margin:auto;
	position:relative;
	box-shadow:0 0 6px grey;
	border-radius:8px;
	border:10px solid white;
	
	background-color:rgb(255,1,51);
	background: -webkit-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -o-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -moz-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1));
    background: linear-gradient(130deg,rgba(255,1,51,1), rgba(255 , 172 , 42,1));
    
}
#form-connexion table
{
	margin:auto;
}
#lost a
{
	color:white;
}

#form-connexion table input
{
	outline: none;
	background:none;
	border:1px solid white;
	color:white;
	border-radius:15px;
	webkit-box-shadow:none;
	box-shadow:none;
	transition:.2s;
}
input:focus
{
	background:white !important;
	color:rgba(255,1,51,1) !important;
}
#form-connexion table input::-moz-placeholder/*, #form-connexion table input::-webkit-input-placeholder*/
{
	color:white !important;
}
#form-connexion table input::-webkit-input-placeholder
{
	color:white !important;
}
#form-connexion table input:focus::-moz-placeholder
{
	color:rgba(255,1,51,1) !important;
}
#form-connexion table input:focus::-webkit-input-placeholder
{
	color:rgba(255,1,51,1) !important;
}
td.td-submit button
{
	float:right;
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition:.2s;
}
td.submit button:hover,td.submit button:focus
{
	background:white!important;
	color:red!important;
}
div.row 
{
	margin-top:10px;
	margin-bottom:50px;
}
div.row h2
{
	text-align:center;
	font-family: ageta_chubby;
	-ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
    color:#FF3F30;
}
div.row span
{
	text-align:justify;
	display:block;
	font-family:caviar_dreams;
	font-size:16px;
}
/*
#title
{
	width:100%;
	text-align:center;
}

#title img#banane
{
	-ms-transform: rotate(-50deg); 
    -webkit-transform: rotate(-50deg); 
    transform: rotate(-50deg);
    width:200px;
    margin-left:-10em;
}
#title img#title-font
{
	width:38em;
}
#content
{
	width:100%;
}
#form-connexion
{
	display:block;
	margin-left:calc(25% - 160px);
	margin-top:10px;
	text-align:center;
	width:500px;
	height:300px;
	border-radius:20px;
	box-shadow: 0px 0px 15px grey;
	border:15px solid white;
	background-color:rgb(255,1,51);
	background: -webkit-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -o-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -moz-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1));
    background: linear-gradient(130deg,rgba(255,1,51,1), rgba(255 , 172 , 42,1));
}
#right-content
{
	width:calc(75% - 20px);
	float:right;
}
table
{
	display:inline-block;
	width:90%;
	text-align:center;
	margin-top:70px;
}
table tr
{
	width:100%;
	text-align:center;
}
table td
{
	width:50%;
	text-align:center;
}
table td#lost
{
	text-align:left;
}
table td#lost a
{
	color:white;
}
.center
{
	text-align:center;
	width:100%;
	display:inline-block;
	vertical-align:middle;
}
/*
rouge : 255, 1, 51;
rosé  : 255, 0, 164;

.bouton
{
	width:90%;
	padding:10px;
	border:1px solid white;
	border-radius:5px;
	background-color:white;
	background: -webkit-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1)); 
    background: -o-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1)); 
    background: -moz-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1));
    background: linear-gradient(top,rgba(255,255,255,1), rgba(200 ,200 , 200,1));
    outline: none;
}
#description h1
{
	color:rgba(254,1,146,1) !important;
	font-family: 'LittleBird';
	font-size:3em;
	width:calc(100% - 20px);
}
#description p 
{
	font-family:'CaviarDreams';
	font-size:1.2em;
	width:calc(100% - 20px);
	margin-left:25px;
}
#description
{
	float:left;
	width:25%;
	margin-left:20px;
	top:100;
}
@media handheld, only screen and (max-device-width:700px)
{
	#title img#banane
	{
		width:30%;
	}
	#right-content
	{
	width:100%;
	
	}
	#title img#title-font
	{
	
		float:left;
		width:80%;
	}
	#description
	{
		display:none;
	}
	#form-connexion
	{
		width:100%;
		margin:auto;
	}
}
*/