/*
 Insertion polices
*/
@font-face {
    font-family: 'Torrebruno';
    src: url(../font/Torrebruno.ttf);
}
@font-face {
    font-family: 'CaviarDreams';
    src: url(../font/CaviarDreams_bold.ttf);
}
@font-face {
    font-family: 'LittleBird';
    src: url(../font/LittleBird.ttf);
}

html,body
{
	width:100%;
	height:100%;
	overflow:auto;
}
#title
{
	width:100%;
	height:20%;
	text-align:center;
}

#title img#banane
{
	-ms-transform: rotate(-50deg); /* IE 9 */
    -webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
    transform: rotate(-50deg);
    width:200px;
    margin-left:-10em;
}
#title img#title-font
{
	width:38em;
}
#form-connexion
{
	display:block;
	margin:auto;
	margin-top:10px;
	text-align:center;
	width:500px;
	height:300px;
	border-radius:20px;
	box-shadow: 0px 0px 15px grey;
	border:15px solid white;
	background-color:rgb(255,1,51);
	background: -webkit-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -o-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1)); 
    background: -moz-linear-gradient(130deg,rgba(255,1,51,1), rgba(255,172,42,1));
    background: linear-gradient(130deg,rgba(255,1,51,1), rgba(255 , 172 , 42,1));

}
table
{
	display:inline-block;
	width:90%;
	text-align:center;
	margin-top:70px;
}
table tr
{
	width:100%;
	text-align:center;
}
table td
{
	width:50%;
	text-align:center;
}
table td#lost
{
	text-align:left;
}
table td#lost a
{
	color:white;
}
.center
{
	text-align:center;
	width:100%;
	display:inline-block;
	vertical-align:middle;
}
/*
rouge : 255, 1, 51;
rosé  : 255, 0, 164;
*/
.bouton
{
	width:90%;
	padding:10px;
	border:1px solid white;
	border-radius:5px;
	background-color:white;
	background: -webkit-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1)); 
    background: -o-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1)); 
    background: -moz-linear-gradient(top,rgba(255,255,255,1), rgba(200,200,200,1));
    background: linear-gradient(top,rgba(255,255,255,1), rgba(200 ,200 , 200,1));
    outline: none;
}
#description h1
{
	color:rgba(254,1,146,1) !important;
	font-family: 'LittleBird';
	font-size:50px;
}
#description p 
{
	font-family:'CaviarDreams';
	font-size:20px;
	width:500px;
	margin-left:25px;
}
#description
{
	position:absolute;
	margin-left:20px;
	top:100;
}
@media handheld, only screen and (max-device-width:700px)
{
	#description
	{
		display:none;
	}
}